# Eclipse
**/.classpath
**/.project
**/.settings/

# Intellij
**/.idea/
**/*.iml
**/*.iws
**/*.ipr
**/.history

# Vs Code
**/.vscode

# Maven
**/log/
**/target/
**/.m2/

# Others
**/*.*~
**/._.DS_Store
/bin/
